<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<title>Voisinage |
			{{controller_name}}</title>
		<link rel="stylesheet" href="{{asset('stylepersonaliser/inscription.css')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/525icons/2.6.0/525icons.min.css">
		<!--intl-tel-input plugin-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
		<!--Bootstrap css-->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
		<!--google font css-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
		<!--Bootstrap js-->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

	</head>
	<body>


		<div class="container">
			<header>
				<div class="side-bar">
					<nav class="navbar">
						<div class="container-fluid">
						
								<a href="{{path('home')}}" class="navbar-brand"><span>V</span>oi<span>s</span>in<span>a</span>ge</a>
						</div>
					</nav>
				</div>
			</header>

			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<div class="title"> Veuillez vous connecter</div>
                        
				<div class="form-row">
					<div class="form-group col-md-6" >

						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">

						<label for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" required>

					</div>
				</div>


				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
								        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
								        See https://symfony.com/doc/current/security/remember_me.html
								
								        <div class="checkbox mb-3">
								            <label>
								                <input type="checkbox" name="_remember_me"> Remember me
								            </label>
								        </div>
								    #}

				<div class="center">
					<button class="btn-hover color-7" type="submit">Connexion</button>
				</div>
				<div>
					<div class="compte">
						<label>
							Vous n'avez pas un compte?
						</label>
						<a href="{{path('register')}}" class="link" title="identifier">
							S'inscrire
						</a>
					</div>
				</div>


			</form>
		</div>
	</body>
</html></html
