<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<title>Voisinage |
			{{controller_name}}</title>
		<link rel="stylesheet" href="{{asset('stylepersonaliser/login.css')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/525icons/2.6.0/525icons.min.css">
		<!--intl-tel-input plugin-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
		<!--Bootstrap css-->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
		<!--google font css-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
		<!--Bootstrap js-->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

	</head>

	<body>
		<header>
			<div class="side-bar">
				<nav class="navbar">
					<div class="container-fluid">
						
							<a href="{{path('home')}}" class="navbar-brand"><span>V</span>oi<span>s</span>in<span>a</span>ge</a>
					</div>
				</nav>
			</div>
		</header>
		<div class="container">
			<div class="form">
				<div class="title">
					Veuillez vous connecter
				</div>
				<form method="POST">
				{% for msg in app.flashes('message') %}

					<div class="alert alert-primary">
						{{ msg }}
					</div>
				{% endfor %}
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					{#{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}#}
					<div class="row">
						<div class="col-2">
							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
						</div>
						<div class="row">
							<div class="col-2">
								<label for="inputPassword">Mot de passe</label>
								<input type="password" name="password" id="inputPassword" class="form-control" required>
								<span class="eye" onclick="myFunction()">
									<i id="hide1" class="fa fa-eye"></i>
									<i id="hide2" class="fa fa-eye-slash" title="Afficher votre Mot de Passe"></i>
								</span>
							</div>
						</div>
						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						{#
						                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						                    See https://symfony.com/doc/current/security/remember_me.html
						                    
						                    <div class="checkbox mb-3">
						                        <label>
						                            <input type="checkbox" name="_remember_me"> Remember me
						                        </label>
						                    </div>
						                    #}
						<div class="center">
							<button class="btn-hover color-7">Connexion</button>
							
						</div>
						
						<div class="compte">
							<label class="conx">
								Vous n'avez pas un compte?
							</label>
							<a href="{{path('register')}}" class="link" title="identifier">
								S'inscrire
							</a>
							
						</div>
						<div class="compte">
							<label class="conx">
								
							</label>
							<a href="{{path('app_forgotten_password')}}" class="link" title="identifier">
								Mot de passe oublié
							</a>
							
						</div>

						
					</form>

				</div>
			</div>


			<script>
				function myFunction() {
var x = document.getElementById("inputPassword");
var y = document.getElementById("hide1");
var z = document.getElementById("hide2");

if (x.type === 'password') {
x.type = "text";
y.style.display = "block";
z.style.display = "none";
} else {
x.type = "password";
y.style.display = "none";
z.style.display = "block";
}
}
			</script>
		</body>
	</body>
</html>
