<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<title>Voisinage |
			{{controller_name}}</title>
		<link rel="stylesheet" href="{{asset('stylepersonaliser/login.css')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/525icons/2.6.0/525icons.min.css">
		<!--intl-tel-input plugin-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
		<!--Bootstrap css-->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
		<!--google font css-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
		<!--Bootstrap js-->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

	</head>

	<body>
		<header>
			<div class="side-bar">
				<nav class="navbar">
					<div class="container-fluid">

						<a href="{{path('home')}}" class="navbar-brand">
							<span>V</span>oi<span>s</span>in<span>a</span>ge</a>
					</div>
				</nav>
			</div>
		</header>
		<div class="container">
			<div class="form">
				<div class="title">
					
            Veuillez entrer votre nouveau mot de passe 

				</div>
				{% for message in app.flashes('danger', 'warning') %}

					<div class="alert alert-primary">
						{{ message }}
					</div>
				{% endfor %}
                {% for msg in app.flashes('message') %}

					<div class="alert alert-primary">
						{{ msg }}
					</div>
				{% endfor %}

				
				<form method="post">
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" placeholder="Nouveau mot de passe" required class="form-control">
					<input type="hidden" name="token" value="{{ token }}">
					<button type="submit" id="valider" class="btn btn-primary">
						Valider     
					</button>
				</form>

			</div>

		


	</div>


</body></html>

