{% extends 'admin.html.twig' %}

{% block title %}Modifier Demande{% endblock %}

{% block body %}
    <h1>Modifer Demande</h1>

   {{form_start(form)}}
   {{form_widget(form)}}
   {{form_end(form)}}

    
    <div class="row" style="margin-top: 15px;">

    <a href="{{ path('demande_index') }}"class="btn btn-info" style="margin-right: 15px;">retour à la liste</a>


    {{ include('demande/_delete_form.html.twig') }}
</div>
{% endblock %}
