{% extends "admin.html.twig" %}


{% block body %}

<h1>Affecter des sous catégories</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

    <a href="{{ path('categorie_index') }}" class=" btn btn-info" style=" margin-top: 10px; margin-bottom: 10px;">retour à la liste</a>




    
{% endblock %}